*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: #fff;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  min-height: 600px;
}

.wrapper h1 {
  color: black;
  font-size: 4rem;
  font-weight: 600;
}

.wrapper .form {
  margin: 2em auto 0;
  padding: 2em 3.5em;
  width: 450px;
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.wrapper .form-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 2.5em 0;
}

.wrapper .form-box input {
  margin-top: 0.1em;
  width: 100%;
  padding: .8em 0;
  font-size: 1.7rem;
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

.wrapper .form-box input:focus {
  border-bottom-color: #ffb716;
}

.wrapper .form-box .alert {
  position: absolute;
  top: 1px;
  right: 1px;
  display: block;
  margin-top: 0.1em;
  height: 25px;
  color: #ff0000;
  font-size: 1.1rem;
  visibility: hidden;
}

.wrapper .form-box ::-webkit-input-placeholder {
  color: #bbb;
  font-weight: 200;
}

.wrapper .form-box :-ms-input-placeholder {
  color: #bbb;
  font-weight: 200;
}

.wrapper .form-box ::-ms-input-placeholder {
  color: #bbb;
  font-weight: 200;
}

.wrapper .form-box ::placeholder {
  color: #bbb;
  font-weight: 200;
}

.wrapper .form .error input {
  background: rgba(255, 0, 0, 0.05);
}

.wrapper .form .error .alert {
  visibility: visible;
}

.wrapper .form-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 3em;
          column-gap: 3em;
  margin: 2.5em 0;
}

.wrapper .btn {
  position: relative;
  padding: 0.8em 1.6em;
  color: #fff;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background: #ffb716;
  border: none;
  -webkit-transition: background .2s;
  transition: background .2s;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
}

.wrapper .btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #000;
  -webkit-transition: width .2s;
  transition: width .2s;
  z-index: -1;
}

.wrapper .btn:hover::after {
  width: 100%;
}

.wrapper .modal {
  position: absolute;
  top: -150%;
  padding: 4em 20em;
  color: #000000;
  font-weight: 600;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-transition: top .6s;
  transition: top .6s;
}

.wrapper .modal-content {
  font-size: 2rem;
}

.wrapper .modal .close {
  display: block;
  margin: 1em auto 0;
}

.wrapper .show-modal {
  top: 40px;
}
/*# sourceMappingURL=main.css.map */